html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > * {
    width: 30em;
}

body > header {
    text-align: center;
}

body > header h1 {
    margin: 0.5em auto;
}

main {
    text-align: center;
    padding: 1em;
    color: #FFFFFF;
    background-color: #000000;
}

main > header {
    text-align: center;
}

main > header h2 {
    margin: 0.5em 0;
}

main input[type=text] {
    width: 100%;
}

main #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

main #buttons * {
    flex-grow: 1;
    margin: 1em;
}

main #buttons *:first-child {
    margin-left: 0;
}

main #buttons *:last-child {
    margin-right: 0;
}
