/*
    Toolbar. Styles children as a horizontal toolbar that fills the width of
    the parent. Optionally uses as much space as possible for the main tool.
    If there is no main tool, all tools will get equal space. Multiple main
    tools are possible; the space will then be equaly distributed among them.
*/

.toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar > * {
    flex-basis: auto;
    flex-grow: 0;
}

.toolbar > *.mainTool {
    flex-grow: 1;
}

/*
    Display an icon. Set the icon by overwriting the ::before
    'content' property to the icon's unicode value (e.g. "\f094").
*/

.icon { /* Assure correct displaying of icon */
    display: inline-block;
    font: normal normal normal 0px/1 FontAwesome; /* font size and line height will be overwritten further down */
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    text-align: center;
    vertical-align: middle;
}

.icon::before {
    content: "?"; /* indicate no icon set yet - overwrite this for each button */
    vertical-align: middle;
}

/*
    Colors, fonts, headers, etc.
*/

body {
    background: rgb(241, 241, 241);
    color: #444444;
}

* {
    font-family: Times, serif;
    font-size: 106%;
}

h1 {
    font-size: 4em;
    font-variant: small-caps;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

/*
    UI Elements.
*/

button, input, select, textarea {
    box-sizing: border-box; /* prevent elements from becoming larger than their box due to padding/margin. */
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 0.5em 0;
    color: #444444;
}

input[type=date], input[type=time], input[type="datetime-local"] {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

input:not([type=submit]), select, textarea {
    background-color: #F0F0F0;
}

@keyframes select-field-lightbg {
    from { background-color: #F0F0F0; border-color: #C0C0C0; box-shadow: none; }
    to { background-color: rgb(255, 242, 170); border-color: #FFFF66; box-shadow: 0 0 0.3em #606060; }
}

@keyframes select-field-darkbg {
    from { background-color: #F0F0F0; border-color: #C0C0C0; box-shadow: none; }
    to { background-color: rgb(255, 242, 170); border-color: rgb(255, 242, 170); box-shadow: 0 0 0.6em rgb(255, 242, 170); }
}

@keyframes hover-field-lightbg {
    from { border-color: #F0F0F0; box-shadow: none; }
    to { border-color: #C0C0C0; box-shadow: 0 0 0.3em #C0C0C0; }
}

@keyframes hover-field-darkbg {
    from { border-color: #F0F0F0; box-shadow: none; }
    to { border-color: #C0C0C0; box-shadow: 0 0 0.6em white; }
}

@keyframes hover-iconbutton-lightbg {
    from { text-shadow: initial; }
    to { text-shadow: 0 0 0.6em #444444; }
}

@keyframes hover-iconbutton-darkbg {
    from { text-shadow: initial; }
    to { text-shadow: 0 0 0.6em rgb(241, 241, 241); }
}

input[type=text], textarea {
    background: #F0F0F0 url('img/edit.png') no-repeat right 0.3em center;
    border: 0.05em solid #C0C0C0;
    outline: none; /* overwrite browser default */
}

input[type=text]:focus, textarea:focus {
    animation-name: select-field-darkbg; /* default highlighting for on dark backgrounds, overwrite for lighter ones */
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

textarea {
    background-position: right 0.3em top 0.3em;
}

input[type=submit], button {
    background: #F0F0F0; /* for browsers that do not support gradients */
    background: linear-gradient(to bottom, #F0F0F0, #C0C0C0);
}

input[type=submit]:hover, button:hover {
    outline: none; /* overwrite browser default */
    animation-name: hover-field-darkbg; /* default highlighting for on dark backgrounds, overwrite for lighter ones */
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.icon {
    font-size: 150%;
    padding: 0.1em;
    border: none;
    background: transparent;
    color: inherit;
}

.icon.priority::before { /* low priority and default */
    content: "\f006"; /* star outline (fa-star-o) */
}

.icon.priority[data-priority="high"]::before { /* high priority */
    content: "\f005"; /* filled star (fa-star) */
}

input[type=submit].icon, button.icon {
    outline: none; /* overwrite browser default */
}

input[type=submit].icon:hover, button.icon:hover {
    animation-name: hover-iconbutton-darkbg; /* default highlighting for on dark backgrounds, overwrite for lighter ones */
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.toolbar > * {
    margin: 0 0.25em;
}

.toolbar > *:first-child {
    margin-left: 0;
}

.toolbar > *:last-child {
    margin-right: 0;
}
