/*
    Page header.
*/

body {
    min-width: 500px;
}

body > header {
    margin: 0;
    padding: 0.5em;
    border-radius: 0 0 1em 1em;
}

body > header * {
    flex: 1 1 0 !important; /* Asserts equally sized children. (Overrides .toolbar) */
}

body > header *:first-child {
    margin-left: 0.5em;
    text-align: left;
}

body > header *:last-child {
    margin-right: 0.5em;
    text-align: right;
}

body > header h1 {
    text-align: center;
}

/*
    Two-column layout.
*/

@media only screen and (min-width: 1201px) {
    #leftColumn, #rightColumn {
        box-sizing: border-box;
        float: left;
        width: calc(50% - 0.5em);
        margin: 0 0.5em;
    }

    #leftColumn {
        margin-left: 0em;
    }

    #rightColumn {
        margin-right: 0em;
    }

    #rightColumn::after {
        clear: left;
        content: "";
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    #leftColumn, #rightColumn {
        width: 100%;
        margin: 0.5em 0;
    }

    #leftColumn {
        margin-top: 0em;
    }

    #rightColumn {
        margin-bottom: 0em;
    }
}

#leftColumn, #rightColumn {
    padding: 0;
    background: transparent;
}

#leftColumn > *, #rightColumn > * { /* All boxes in the columns should stretch to the columns' width. */
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1em 0.5em;
    background: rgb(255, 255, 255);
    border: 0.1em solid #A0A0A0;
    border-top-width: 0;
    border-bottom-width: 0;
}

#leftColumn > :first-child, #rightColumn > :first-child {
    border-top-width: 0.1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#leftColumn > :last-child, #rightColumn > :last-child {
    border-bottom-width: 0.1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*
    Navigation toolbar (sorting, searching, etc.).
*/

#leftColumn > nav {
    background: rgb(0, 157, 129);
    color: #FFFFFF;
}

#leftColumn > nav #addToDo::before {
    content: "\f0fe"; /* plus sign in square (fa-plus-square) */
}

/*
    Item list.
*/

#listSection {
    padding: 0.5em 0;
}

#listSection > * { /* All boxes in the list should stretch to the list's width. */
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

#listSection > header {
    margin: 0.5em 0.5em;
}

#toDoItemList > li {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    color: rgb(240, 240, 240);
}

#toDoItemList > li:nth-of-type(odd) {
    background-color: rgb(45, 45, 45);
}

#toDoItemList > li:nth-of-type(even) {
    background-color: rgb(110, 110, 110);
}

#toDoItemList > li > * {
    flex-basis: auto;
    flex-grow: 0;
    margin: 0 0.1em;
}

#toDoItemList > li > *:first-child {
    margin-left: 0;
}

#toDoItemList > li > *:last-child {
    margin-right: 0;
}

#toDoItemList > li > .removeTodo::before {
    content: "\f146"; /* minus sign in square (fa-minus-square) */
}

#toDoItemList > li > .overview {
    flex-grow: 1;
    padding: 0 0.5em;
}

#toDoItemList > li > .overview > * {
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
}

#toDoItemList > li > .overview > *.dueDate {
    display: block;
}

#toDoItemList > li > .overview > *.dueDate::before {
    display: inline-block;
    content: "Due:";
    background: rgb(0, 157, 129);
    color: #FFFFFF;
    padding: 0.05em 0.25em;
    font-size: 80%;
    border-radius: 0.1em;
    margin-right: 0.4em;
}

#toDoItemList > li > .overview > *.dueDate[data-dueStatus=overdue]::before {
    content: "Overdue:";
    background: rgb(157, 0, 0);
}

#toDoItemList > li > .overview > *.priority {
    font-size: 100%;
    padding: 0;
    margin: auto 0.5em;
    vertical-align: top;
}

#toDoItemList > li > .setDone::before {
    content: "\f14a"; /* check sign in square (fa-check-square) */
}

/*
    Item details.
*/

#details {
    padding: 0.5em 0.5em;
}

#details > * { /* All boxes should stretch to the width. */
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em 0.5em;
}

#details > .date {
    padding: 0.5em;
    background: #000000;
    color: #FFFFFF;
}

#details > .date input[type=text]:focus {
    animation-name: select-field-darkbg;
}

#details #description > * {
    margin: 0.3em 0;
}

#details #detailsDescriptionText {
    width: 100%;
    min-height: 5em;
}
